[Desktop Entry]
Name=auric
Comment=Financial Data Analyser
Exec=auric
Terminal=false
Type=Application
Categories=Office;
MimeType=text/plain;
Icon=auric
